@model Lanche

<div class="col-sm-6 col-md-4 col-lg-4 mb-4">
    <div class="card lanche-card">
        <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">
            <img src="@Model.ImagemURL" class="card-img-top" alt="@Model.Nome">
        </a>
        <div class="card-body">
            <h3 class="card-title">@Model.Nome</h3>
            <p class="card-text">@Model.DescricaoCurta</p>
            <div class="d-flex justify-content-between align-items-center mt-auto">
                <p class="lanche-preco mb-0">@Model.Preco.ToString("c")</p>
                <a class="btn btn-primary btn-comprar" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-LancheId="@Model.LancheId">
                    Comprar
                </a>
            </div>
        </div>
    </div>
</div>